@model List<BookingsAndResources>

<!--Main Container-->
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-black glassBackground"> View Bookings</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Booking" asp-action="BookingView" class="btn text-primary glassBackground" style="height:40px; width:150px; padding-top:7px;"><span>Create Booking</span></a>
        </div>
    </div>
    <br /> <br />






    <h6 class="text-black glassBackground">
        Bookings List
    </h6>
    <div class="glassBackground " >
        <table id="MainTable" class=" text-black table">
            <thead>
                <tr>
                    <th>Equipment Name</th>
                    <th>Start Time</th>
                    <th>End Time </th>
                    <th>BookedBy</th>
                    <th>Purpose</th>

                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    
                        
                            <tr class="text-white-70">

                      
                         
                                <td>@item.resource.Name</td>
                                <td> @item.bookings.StartTime</td>
                                <td>@item.bookings.EndTime</td>
                                <td> @item.bookings.BookedBy</td>
                                <td>@item.bookings.Purpose</td>
                            

   
                  
                    </tr>
                    
                   
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
            $(document).ready( function () {
                $('#MainTable').DataTable();


                    // $('.dataTables_filter input').addClass('glassBackground');
        } );
    </script>
}



